fastapi
uvicorn
python-dotenv
websockets
numpy
torch
pandas
matplotlib
scikit-learn
requests
beautifulsoup4
sentence-transformers
# Added for interpretability
instructor
lru-dict
# For self-driving car example
osmnx
geopandas
shapely
